<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <a
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </head>

  <body>
    <div class="flex">
      <aside
        class="inset-0 z-20 h-screen flex-none w-64 justify-between border-r bg-blue-950"
      >
        <div class="px-4 py-4">
          <a
            href="/"
            class="flex items-center px-4 gap-4 text-white mx-auto mt-2 mb-6"
          >
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-10 h-10"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-warehouse"
              >
                <path
                  d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z"
                ></path>
                <path d="M6 18h12"></path>
                <path d="M6 14h12"></path>
                <rect width="12" height="12" x="6" y="10"></rect>
              </svg>
            </div>
            <div>
              <h1 class="text-white font-bold text-lg">Inventory MS</h1>
            </div>
          </a>
          <nav aria-label="Main Nav" class="flex flex-col space-y-1">
            <div
              href="#"
              class="items-center gap-2 border-t border-gray-200 py-4 space-y-4"
            >
              <img
                alt="Man"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                class="h-20 w-20 rounded-full object-cover mx-auto"
              />
              <div>
                <p class="text-xs text-white text-center space-y-4">
                  <strong class="block font-medium text-lg">
                    FirstName LastName
                  </strong>
                  <span class="font-light"> FirstName.Last@kmutt.ac.th </span>
                </p>
              </div>
              <div class="flex flex-row items-center justify-center gap-8">
                <a
                  href="#"
                  class="text-white bg-blue-950 hover:bg-gray-100 hover:text-gray-700 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center border border-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                  <span class="sr-only">Edit profile</span>
                </a>

                <a
                  href="#"
                  class="text-white bg-blue-950 hover:bg-gray-100 hover:text-gray-700 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center border border-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                    />
                  </svg>
                  <span class="sr-only">Logout</span>
                </a>
              </div>
            </div>

            <div class="pt-4 border-t border-gray-200"></div>
            <!-- Page nav group -->
            <div class="overflow-auto h-72 space-y-2">
              <a
                href="/dashboard.html"
                class="flex items-center gap-2 rounded-lg bg-gray-100 text-gray-700 px-4 py-2 active:bg-gray-100 active:text-gray-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-layout-dashboard"
                >
                  <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                  <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                  <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                  <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                </svg>

                <span class="text-sm font-medium"> Dashboard </span>
              </a>
              <a
                href="/warehouse.html"
                class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700 active:bg-gray-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-warehouse"
                >
                  <path
                    d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z"
                  ></path>
                  <path d="M6 18h12"></path>
                  <path d="M6 14h12"></path>
                  <rect width="12" height="12" x="6" y="10"></rect>
                </svg>

                <span class="text-sm font-medium"> Warehouse </span>
              </a>

              <a
                href="/product.html"
                class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-package"
                >
                  <path d="M16.5 9.4 7.55 4.24"></path>
                  <path
                    d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                  ></path>
                  <polyline points="3.29 7 12 12 20.71 7"></polyline>
                  <line x1="12" x2="12" y1="22" y2="12"></line>
                </svg>

                <span class="text-sm font-medium"> Product </span>
              </a>

              <details class="group [&_summary::-webkit-details-marker]:hidden">
                <summary
                  class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                >
                  <div class="flex items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 opacity-75"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                      />
                    </svg>

                    <span class="text-sm font-medium"> Order </span>
                  </div>

                  <span
                    class="shrink-0 transition duration-300 group-open:-rotate-180"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </summary>

                <nav
                  aria-label="Teams Nav"
                  class="mt-2 flex flex-col px-4 space-y-2"
                >
                  <a
                    href="/incoming-order.html"
                    class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-shopping-cart"
                    >
                      <circle cx="8" cy="21" r="1"></circle>
                      <circle cx="19" cy="21" r="1"></circle>
                      <path
                        d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
                      ></path>
                    </svg>

                    <span class="text-sm font-medium"> Incoming order </span>
                  </a>

                  <a
                    href="/outgoing-order.html"
                    class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-shopping-cart"
                    >
                      <circle cx="8" cy="21" r="1"></circle>
                      <circle cx="19" cy="21" r="1"></circle>
                      <path
                        d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
                      ></path>
                    </svg>

                    <span class="text-sm font-medium"> Outgoing order </span>
                  </a>
                </nav>
              </details>

              <a
                href="/return.html"
                class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-corner-down-left"
                >
                  <polyline points="9 10 4 15 9 20"></polyline>
                  <path d="M20 4v7a4 4 0 0 1-4 4H4"></path>
                </svg>

                <span class="text-sm font-medium"> Return </span>
              </a>

              <details class="group [&_summary::-webkit-details-marker]:hidden">
                <summary
                  class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                >
                  <div class="flex items-center gap-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 opacity-75"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                      />
                    </svg>

                    <span class="text-sm font-medium"> Account </span>
                  </div>

                  <span
                    class="shrink-0 transition duration-300 group-open:-rotate-180"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </span>
                </summary>

                <nav
                  aria-label="Account Nav"
                  class="mt-2 flex flex-col px-4 space-y-2"
                >
                  <a
                    href="#"
                    class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 opacity-75"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
                      />
                    </svg>

                    <span class="text-sm font-medium"> Details </span>
                  </a>

                  <a
                    href="#"
                    class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5 opacity-75"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                      />
                    </svg>

                    <span class="text-sm font-medium"> Security </span>
                  </a>

                  <form action="#">
                    <button
                      type="submit"
                      class="flex w-full items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 opacity-75"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                        />
                      </svg>

                      <span class="text-sm font-medium"> Logout </span>
                    </button>
                  </form>
                </nav>
              </details>
            </div>

            <footer
              class="bottom-0 left-0 z-20 max-w-fit bg-blue-950 shadow sm:flex sm:items-center sm:justify-between md:pt-5 md:mt-10 sm:px-8"
            >
              <span class="text-sm text-gray-500 sm:text-center">
                © 2023
                <a href="#" target="_blank" class="hover:underline">
                  Inventory MS™
                </a>
                . All Rights Reserved.
              </span>
            </footer>
          </nav>
        </div>
      </aside>
      <main class="flex-auto h-screen w-full min-w-0">
        <header
          class="w-auto bg-white z-20 top-0 left-0 border-b border-gray-200"
        >
          <div class="flex justify-between items-center mx-auto p-4">
            <div class="flex items-center">
              <div class="mr-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-layout-dashboard"
                >
                  <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                  <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                  <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                  <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                </svg>
              </div>
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap"
              >
                Dashboard
              </span>
            </div>
          </div>
        </header>

        <section class="overflow-y-auto h-5/6 my-5">
          <div
            class="py- px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-5 flex justify-center items-center "
          >
            <!-- <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">Designed for business teams like yours</h2>
                  <p class="mb-5 font-light text-gray-500 sm:text-xl ">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
              </div> -->
            <div
              class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0"
            >
              <!-- Analysis Card -->
              <a
                href="#"
                data-modal-toggle="top-outgoing-product"
                data-modal-target="top-outgoing-product"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Outgoing Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF Black Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity out</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF Black Chair</td>
                      <td class="px-2 py-2">150</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Extra Durable Door Mat</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Incoming Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF White Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity In</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF White Chair</td>
                      <td class="px-2 py-2">350</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Extra Durable Door Mat</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">
                  Top Product Return By Reason
                </h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold">Wrong size</span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Return Reason</th>
                      <th scope="col" class="px-2 py-2">Number of Returns</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">Wrong size</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Wrong color</td>
                      <td class="px-2 py-2">55</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">Non-reasons (-)</td>
                      <td class="px-2 py-2">15</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">
                  Top Inventory Quantity By Product Category
                </h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF Black Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Category</th>
                      <th scope="col" class="px-2 py-2">Inventory Quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF Black Chair</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">IDOLF White Chair</td>
                      <td class="px-2 py-2">56</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">31</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Sales By Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold">James Wilson</span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Customer Name</th>
                      <th scope="col" class="px-2 py-2">Inventory quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">James Wilson</td>
                      <td class="px-2 py-2">150</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Joseph Holmes</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">Richard Payne</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Return by Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >Joseph Holmes</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Customer Name</th>
                      <th scope="col" class="px-2 py-2">Return Quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">Joseph Holmes</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">John Harris</td>
                      <td class="px-2 py-2">55</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">David Lewis</td>
                      <td class="px-2 py-2">15</td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </section>

        <!-- Top outgoing product AR modal-->
        <div
          id="top-outgoing-product"
          tabindex="-1"
          aria-hidden="true"
          class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative w-auto max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
              <!-- Modal header -->
              <div
                class="flex items-start justify-between p-4 border-b rounded-t"
              >
                <div class="mr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-layout-dashboard"
                  >
                    <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                    <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                    <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                    <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                  </svg>
                </div>
                <h3 class="text-xl font-semibold text-gray-900">
                  Analysis Report
                </h3>
                <button
                  type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                  data-modal-hide="top-outgoing-product"
                >
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>

              <!-- Modal body -->
              <div>
                <h3
                  class="text-lg font-semibold bg-gray-50 pt-5 px-5 flex justify-center"
                >
                  Top Outgoing Product By Quantity Out
                </h3>
              </div>
              <div class="grid grid-rows-1 grid-flow-col gap-4 p-5 bg-gray-50">
                <form class="" action="Insert.php" method="post">
                  <div class="overflow-y-auto rounded-xl">
                    <table class="w-auto text-sm text-center text-gray-500">
                      <thead
                        class="text-xs text-gray-700 uppercase bg-gray-100"
                      >
                        <tr>
                          <th scope="col" class="px-4 py-3">Rank</th>
                          <th scope="col" class="px-4 py-3">Product Name</th>
                          <th scope="col" class="px-4 py-3">Quantity Out</th>
                          <!-- <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Actions</span>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody class="divide-y bg-white">
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
    
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>

                <div>

                </div>
              </div>

              <!--  Modal footer  -->
            </div>
          </div>
        </div>

        <!--  -->
      </main>
    </div>
  </body>
</html>