<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Warehouse</title>
  <a href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</head>

<body>
  <div class="flex">

    <!-- page side bar -->
    <aside class=" inset-0 z-20 h-screen flex-none w-64 justify-between border-r bg-blue-950">
      <div class="px-4 py-4">
        <a href="/" class="flex items-center px-4 gap-4 text-white mx-auto mt-2 mb-6">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-warehouse">
              <path
                d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
              </path>
              <path d="M6 18h12"></path>
              <path d="M6 14h12"></path>
              <rect width="12" height="12" x="6" y="10"></rect>
            </svg>
          </div>
          <div>
            <h1 class="text-white font-bold text-lg">Inventory MS</h1>
          </div>
        </a>
        <nav aria-label="Main Nav" class="flex flex-col space-y-1">
          <div href="#" class="items-center gap-2 border-t border-gray-200 py-4 space-y-4">
            <img alt="Man" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              class="h-20 w-20 rounded-full object-cover mx-auto" />
            <div>
              <p class="text-xs text-white text-center space-y-4">
                <strong class="block font-medium text-lg">
                  FirstName LastName
                </strong>
                <span class="font-light"> FirstName.Last@kmutt.ac.th </span>
              </p>
            </div>
            <div class="flex flex-row items-center justify-center gap-8">
              <a href="#"
                class="text-white bg-blue-950 hover:bg-gray-100 hover:text-gray-700 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center border border-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="sr-only">Edit profile</span>
              </a>

              <a href="#"
                class="text-white bg-blue-950 hover:bg-gray-100 hover:text-gray-700 font-medium rounded-lg text-sm px-2 py-2 text-center inline-flex items-center border border-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
                <span class="sr-only">Logout</span>
              </a>
            </div>
          </div>

          <div class="pt-4 border-t border-gray-200"></div>
          <!-- Page nav group -->
          <div class="overflow-auto h-72 space-y-2">
            <a href="/dashboard.html"
              class=" flex items-center gap-2 rounded-lg hover:bg-gray-100 hover:text-gray-700 px-4 py-2 text-white active:bg-gray-100 active:text-gray-700"
              aria-current="page">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>

              <span class="text-sm font-medium"> Dashboard </span>
            </a>
            <a href="/warehouse/warehouse.ejs" class="flex items-center gap-2 rounded-lg px-4 py-2 bg-gray-100 text-gray-700 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-warehouse">
                <path
                  d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
                </path>
                <path d="M6 18h12"></path>
                <path d="M6 14h12"></path>
                <rect width="12" height="12" x="6" y="10"></rect>
              </svg>

              <span class="text-sm font-medium"> Warehouse </span>
            </a>

            <a href="/product.html"
              class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-package">
                <path d="M16.5 9.4 7.55 4.24"></path>
                <path
                  d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                </path>
                <polyline points="3.29 7 12 12 20.71 7"></polyline>
                <line x1="12" x2="12" y1="22" y2="12"></line>
              </svg>

              <span class="text-sm font-medium"> Product </span>
            </a>

            <details class="group [&_summary::-webkit-details-marker]:hidden">
              <summary
                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>

                  <span class="text-sm font-medium"> Order </span>
                </div>

                <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </summary>

              <nav aria-label="Teams Nav" class="mt-2 flex flex-col px-4 space-y-2">
                <a href="/incoming-order.html"
                  class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-shopping-cart">
                    <circle cx="8" cy="21" r="1"></circle>
                    <circle cx="19" cy="21" r="1"></circle>
                    <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
                  </svg>

                  <span class="text-sm font-medium"> Incoming order </span>
                </a>

                <a href="/outgoing-order.html"
                  class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-shopping-cart">
                    <circle cx="8" cy="21" r="1"></circle>
                    <circle cx="19" cy="21" r="1"></circle>
                    <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"></path>
                  </svg>

                  <span class="text-sm font-medium"> Outgoing order </span>
                </a>
              </nav>
            </details>

            <a href="/return.html"
              class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-corner-down-left">
                <polyline points="9 10 4 15 9 20"></polyline>
                <path d="M20 4v7a4 4 0 0 1-4 4H4"></path>
              </svg>

              <span class="text-sm font-medium"> Return </span>
            </a>

            <details class="group [&_summary::-webkit-details-marker]:hidden">
              <summary
                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                <div class="flex items-center gap-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>

                  <span class="text-sm font-medium"> Account </span>
                </div>

                <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </summary>

              <nav aria-label="Account Nav" class="mt-2 flex flex-col px-4 space-y-2">
                <a href="#"
                  class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                  </svg>

                  <span class="text-sm font-medium"> Details </span>
                </a>

                <a href="#"
                  class="flex items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>

                  <span class="text-sm font-medium"> Security </span>
                </a>

                <form action="#">
                  <button type="submit"
                    class="flex w-full items-center gap-2 rounded-lg px-4 py-2 text-white hover:bg-gray-100 hover:text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>

                    <span class="text-sm font-medium"> Logout </span>
                  </button>
                </form>
              </nav>
            </details>
          </div>

          <footer
            class="bottom-0 left-0 z-20 max-w-fit bg-blue-950 shadow sm:flex sm:items-center sm:justify-between md:pt-5 md:mt-10 sm:px-8">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
              © 2023
              <a href="#" target="_blank" class="hover:underline">
                Inventory MS™
              </a>
              . All Rights Reserved.
            </span>
          </footer>
        </nav>
      </div>
    </aside>

    <main class=" flex-auto h-screen bg-gray-100 w-full min-w-0">
      <!-- heading nav bar -->
      <header class=" w-auto bg-white z-20 top-0 left-0 border-b border-gray-200">
        <div class="flex justify-between items-center mx-auto p-4">
          <div class="flex items-center">
            <div class="mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-warehouse">
                <path
                  d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
                </path>
                <path d="M6 18h12"></path>
                <path d="M6 14h12"></path>
                <rect width="12" height="12" x="6" y="10"></rect>
              </svg>
            </div>
            <span class="self-center text-2xl font-semibold whitespace-nowrap">
              Warehouse
            </span>
          </div>

          <div class="flex md:order-2">
            <button data-modal-target="addNewWarehouse" data-modal-toggle="addNewWarehouse"
              class="block text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              type="button">
              Add New Warehouse
            </button>
          </div>
        </div>
      </header>
      <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
      <!--  warehouse card data  -->
      <div class="my-5 h-5/6  overflow-y-auto rounded-xl space-y-5 ">
        <div class="flex flex-col items-center justify-center py-0  sm:px-6 lg:px-8">
          <div class="space-y-10 overflow-auto h-min-xl">
            <div
              class="flex flex-col items-center bg-white border border-gray-200 rounded-xl shadow lg:flex-row lg:max-w-4xl md:pr-6 md:px-2 md:py-4">
              <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="https://www.novabizz.com/uploads/post/717804-1.jpg" alt="" />
              <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                  Warehouse 1
                </h5>
                <p class="mb-3 font-normal text-gray-900">
                  100/10 Bumroong Road, Tambon Pibulsongkram, Amphur Muang,
                  Bangkok, 12345
                </p>
                <p>Manager : Aun</p>
                <div class="flex space-x-10">
                  <p>Email : abc@gmail.com</p>
                  <p>Tel: 080-000-0000</p>
                </div>
              </div>
              <div class="grid grid-rows-4">
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                  class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-3" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-settings">
                    <path
                      d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z">
                    </path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                </button>
                <!--  Dropdown menu  -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-24 ">
                  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100" data-modal-target="editWarehouse"
                        data-modal-toggle="editWarehouse">
                        Edit
                      </a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100" data-modal-target="manageWarehouse"
                        data-modal-toggle="manageWarehouse">
                        Manage
                      </a>
                    </li>
                    <div>
                      <a href="#" class="block px-4 py-2 bg-red-600 hover:bg-red-700 text-gray-100">
                        Delete
                      </a>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col items-center justify-center py-0  sm:px-6 lg:px-8">
          <div class="space-y-10 overflow-auto h-min-xl">
            <div
              class="flex flex-col items-center bg-white border border-gray-200 rounded-xl shadow lg:flex-row lg:max-w-4xl md:pr-6 md:px-2 md:py-4">
              <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="https://www.novabizz.com/uploads/post/717804-1.jpg" alt="" />
              <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                  Warehouse 1
                </h5>
                <p class="mb-3 font-normal text-gray-900">
                  100/10 Bumroong Road, Tambon Pibulsongkram, Amphur Muang,
                  Bangkok, 12345
                </p>
                <p>Manager : Aun</p>
                <div class="flex space-x-10">
                  <p>Email : abc@gmail.com</p>
                  <p>Tel: 080-000-0000</p>
                </div>
              </div>
              <div class="grid grid-rows-4">
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                  class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center"
                  type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-3" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-settings">
                    <path
                      d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z">
                    </path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                </button>
                <!--  Dropdown menu  -->
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-24 ">
                  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100" data-modal-target="editWarehouse"
                        data-modal-toggle="editWarehouse">
                        Edit
                      </a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100" data-modal-target="manageWarehouse"
                        data-modal-toggle="manageWarehouse">
                        Manage
                      </a>
                    </li>
                    <div>
                      <a href="#" class="block px-4 py-2 bg-red-600 hover:bg-red-700 text-gray-100">
                        Delete
                      </a>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->

      <!--add new warehouse modal-->
      <div id="addNewWarehouse" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
              <div class="mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-warehouse">
                  <path
                    d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
                  </path>
                  <path d="M6 18h12"></path>
                  <path d="M6 14h12"></path>
                  <rect width="12" height="12" x="6" y="10"></rect>
                </svg>
              </div>
              <h3 class="text-xl font-semibold text-gray-900">
                New Warehouse
              </h3>
              <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                data-modal-hide="addNewWarehouse">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="">
              <form class="" action="Insert.php" method="post">
                <div class="items-center px-6 py-4 bg-gray-100 space-y-4">
                  <div class="flex flex-row space-x-16">
                    <label for="product name" class="block mb-2 text-sm font-medium text-gray-900">
                      Manager Name
                    </label>
                    <input type="text" id="product_name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5"
                      required />
                  </div>
                  <div class="flex flex-row space-x-12">
                    <label for="product name" class="block mb-2 text-sm font-medium text-gray-900">
                      Warehouse Name
                    </label>
                    <input type="text" id="product_name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5"
                      required />
                  </div>
                </div>
                <div class="px-6 py-4 grid gap-4 mb-4 md:grid-cols-2">
                  <!-- <div class="mb-4 flex flex-row space-x-4">  -->
                  <div>
                    <label for="street address" class="block mb-2 text-sm font-medium text-gray-900">
                      Street address
                    </label>
                    <input type="text" id="street_address"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Phayathai" required />
                  </div>
                  <div>
                    <label for="city" class="block mb-2 text-sm font-medium text-gray-900">
                      City / District
                    </label>
                    <input type="text" id="city"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Pathumwan" required />
                    <!-- </div>  -->
                  </div>
                  <div>
                    <label for="state" class="block mb-2 text-sm font-medium text-gray-900">
                      State / Province
                    </label>
                    <input type="text" id="state"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Bangkok" required />
                  </div>
                  <div>
                    <label for="Zip code" class="block mb-2 text-sm font-medium text-gray-900">
                      Zip code
                    </label>
                    <input type="text" id="zipcode"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="11111" required />
                    <!-- </div>  -->
                  </div>
                </div>
                <div class="px-6 py-4 bg-gray-100 grid gap-4 md:grid-cols-2">
                  <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">
                      Phone number
                    </label>
                    <input type="tel" id="phone"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5"
                      placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
                  </div>
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                      Email address
                    </label>
                    <input type="email" id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5"
                      placeholder="example@mail.com" required />
                  </div>
                </div>
              </form>
            </div>
            <!--  Modal footer  -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
              <button data-modal-hide="addNewWarehouse" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Confirm
              </button>
              <button data-modal-hide="addNewWarehouse" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
      <!--edit warehouse modal-->
      <div id="editWarehouse" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
              <div class="mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-warehouse">
                  <path
                    d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
                  </path>
                  <path d="M6 18h12"></path>
                  <path d="M6 14h12"></path>
                  <rect width="12" height="12" x="6" y="10"></rect>
                </svg>
              </div>
              <h3 class="text-xl font-semibold text-gray-900">
                Edit Warehouse
              </h3>
              <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                data-modal-hide="editWarehouse">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>

            <!-- Modal body -->
            <div class="">
              <form class="" action="Insert.php" method="post">
                <div class="items-center px-6 py-4 bg-gray-100 space-y-4">
                  <div class="flex flex-row space-x-16">
                    <label for="product name" class="block mb-2 text-sm font-medium text-gray-900">
                      Manager Name
                    </label>
                    <input type="text" id="product_name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5"
                      value="Aun" required />
                  </div>
                  <div class="flex flex-row space-x-12">
                    <label for="product name" class="block mb-2 text-sm font-medium text-gray-900">
                      Warehouse Name
                    </label>
                    <input type="text" id="product_name"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/3 p-2.5"
                      value="Warehouse 1" required />
                  </div>
                </div>
                <div class="px-6 py-4 grid gap-4 mb-4 md:grid-cols-2">
                  <!-- <div class="mb-4 flex flex-row space-x-4">  -->
                  <div>
                    <label for="street address" class="block mb-2 text-sm font-medium text-gray-900">
                      Street address
                    </label>
                    <input type="text" id="street_address"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Phayathai" required />
                  </div>
                  <div>
                    <label for="city" class="block mb-2 text-sm font-medium text-gray-900">
                      City / District
                    </label>
                    <input type="text" id="city"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Pathumwan" required />
                    <!-- </div>  -->
                  </div>
                  <div>
                    <label for="state" class="block mb-2 text-sm font-medium text-gray-900">
                      State / Province
                    </label>
                    <input type="text" id="state"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="Bangkok" required />
                  </div>
                  <div>
                    <label for="Zip code" class="block mb-2 text-sm font-medium text-gray-900">
                      Zip code
                    </label>
                    <input type="text" id="zipcode"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                      placeholder="11111" required />
                    <!-- </div>  -->
                  </div>
                </div>
                <div class="px-6 py-4 bg-gray-100 grid gap-4 md:grid-cols-2">
                  <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">
                      Phone number
                    </label>
                    <input type="tel" id="phone"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5"
                      placeholder="123-456-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
                  </div>
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">
                      Email address
                    </label>
                    <input type="email" id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-56 p-2.5"
                      placeholder="example@mail.com" required />
                  </div>
                </div>
              </form>
            </div>
            <!--  Modal footer  -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
              <button data-modal-hide="editWarehouse" type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Confirm
              </button>
              <button data-modal-hide="editWarehouse" type="button"
                class="text-gray-500 bg-white hover:bg-gray-100 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->
      <!--manage warehouse employee modal-->
      <div id="manageWarehouse" tabindex="-1" aria-hidden="true"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-3xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
              <div class="mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="lucide lucide-warehouse">
                  <path
                    d="M22 8.35V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8.35A2 2 0 0 1 3.26 6.5l8-3.2a2 2 0 0 1 1.48 0l8 3.2A2 2 0 0 1 22 8.35Z">
                  </path>
                  <path d="M6 18h12"></path>
                  <path d="M6 14h12"></path>
                  <rect width="12" height="12" x="6" y="10"></rect>
                </svg>
              </div>
              <h3 class="text-xl font-semibold text-gray-900">
                Manage Warehouse's employee
              </h3>
              <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                data-modal-hide="manageWarehouse">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>

            <!-- Modal body -->
            <div class="">
              <form class="" action="Insert.php" method="post">
                <div class="flex items-center px-6 py-4 space-x-4">

                  <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
                    class="w-full md:w-auto flex items-center justify-center p-2.5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10  "
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400"
                      viewbox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
                        clip-rule="evenodd" />
                    </svg>
                    Choose warehouse
                    <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path clip-rule="evenodd" fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                    </svg>
                  </button>
                  <div id="filterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow ">
                    <h6 class="mb-3 text-sm font-medium text-gray-900 ">Choose warehouse</h6>
                    <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                      <li class="flex items-center">
                        <input id="apple" type="checkbox" value=""
                          class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600  ">
                        <label for="apple" class="ml-2 text-sm font-medium text-gray-900 ">Warehouse 1</label>
                      </li>
                      <li class="flex items-center">
                        <input id="fitbit" type="checkbox" value=""
                          class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 ">
                        <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 ">Warehouse 2</label>
                      </li>
                      <li class="flex items-center">
                        <input id="razor" type="checkbox" value=""
                          class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 ">
                        <label for="razor" class="ml-2 text-sm font-medium text-gray-900 ">Warehouse 3</label>
                      </li>
                    </ul>
                  </div>



                </div>
                <!-- <div class="px-6 py-4 grid gap-4 mb-4 md:grid-cols-2">
                     <div class="mb-4 flex flex-row space-x-4">  
                    
                    
                    
                  </div> -->

                <div class="overflow-x-auto">
                  <table class="w-full text-sm text-left text-gray-500 ">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 ">
                      <tr>
                        <th scope="col" class="px-4 py-3">Name</th>
                        <th scope="col" class="px-4 py-3">Account</th>
                        <th scope="col" class="px-4 py-3">Email</th>
                        <th scope="col" class="px-4 py-3">Phone</th>
                        <th scope="col" class="px-4 py-3">Role</th>
                        <th scope="col" class="px-4 py-3">
                          <span class="sr-only">Actions</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-b ">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">Aun</th>
                        <td class="px-4 py-3">AunLNWza</td>
                        <td class="px-4 py-3">aun@gmail.com</td>
                        <td class="px-4 py-3">098-898-9898</td>
                        <td class="px-4 py-3">Manager</td>
                        <td class="px-4 py-3 flex items-center justify-end">
                          <button id="more-employee-dropdown-button" data-dropdown-toggle="more-employee-dropdown"
                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none "
                            type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                          <div id="more-employee-dropdown"
                            class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow ">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="more-employee-dropdown-button">
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Show</a>
                              </li>
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Edit</a>
                              </li>
                            </ul>
                            <div class="py-1">
                              <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="border-b ">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">Aun</th>
                        <td class="px-4 py-3">AunLNWza</td>
                        <td class="px-4 py-3">aun@gmail.com</td>
                        <td class="px-4 py-3">098-898-9898</td>
                        <td class="px-4 py-3">Manager</td>
                        <td class="px-4 py-3 flex items-center justify-end">
                          <button id="more-employee-dropdown-button" data-dropdown-toggle="more-employee-dropdown"
                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none "
                            type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                          <div id="more-employee-dropdown"
                            class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow ">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="more-employee-dropdown-button">
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Show</a>
                              </li>
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Edit</a>
                              </li>
                            </ul>
                            <div class="py-1">
                              <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="border-b ">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">Aun</th>
                        <td class="px-4 py-3">AunLNWza</td>
                        <td class="px-4 py-3">aun@gmail.com</td>
                        <td class="px-4 py-3">098-898-9898</td>
                        <td class="px-4 py-3">Manager</td>
                        <td class="px-4 py-3 flex items-center justify-end">
                          <button id="more-employee-dropdown-button" data-dropdown-toggle="more-employee-dropdown"
                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none "
                            type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                          <div id="more-employee-dropdown"
                            class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow ">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="more-employee-dropdown-button">
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Show</a>
                              </li>
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Edit</a>
                              </li>
                            </ul>
                            <div class="py-1">
                              <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 ">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr class="">
                        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">Aun</th>
                        <td class="px-4 py-3">AunLNWza</td>
                        <td class="px-4 py-3">aun@gmail.com</td>
                        <td class="px-4 py-3">098-898-9898</td>
                        <td class="px-4 py-3">Manager</td>
                        <td class="px-4 py-3 flex items-center justify-end">
                          <button id="more-employee-dropdown-button" data-dropdown-toggle="more-employee-dropdown"
                            class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none "
                            type="button">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                          </button>
                          <div id="more-employee-dropdown"
                            class="hidden z-10 w-44 rounded divide-y divide-gray-100 shadow ">
                            <ul class="py-1 text-sm text-gray-700 " aria-labelledby="more-employee-dropdown-button">
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Show</a>
                              </li>
                              <li>
                                <a href="#" class="block py-2 px-4 hover:bg-gray-100 ">Edit</a>
                              </li>
                            </ul>
                            <div class="py-1">
                              <a href="#"
                                class="block py-2 px-4 text-sm text-gray-700 bg-red-600 hover:bg-red-700 ">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </form>
            </div>
            <!--  Modal footer  -->
            <!-- <div
                class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b"
              >
                <button
                  data-modal-hide="manageWarehouse"
                  type="button"
                  class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                  Confirm
                </button>
                <button
                  data-modal-hide="manageWarehouse"
                  type="button"
                  class="text-gray-500 bg-white hover:bg-gray-100 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
                >
                  Cancel
                </button>
              </div> -->
          </div>
        </div>
      </div>

    </main>
  </div>
</body>

</html>